In [ ]:
# Objective du projet : Faire un beau projet qui mêle du Python et du SQL 
#(par exemple par un connecteur de données ou bien l'écriture de requêtes SQL puis l'export des résultats dans une base SQL)

In [2]:
# Import des packages utiles pour l'étude de cas
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
# Source des données : http://insideairbnb.com/get-the-data

# Paris data
Paris_reviews = pd.read_csv('C:/Users/margo/Documents/Documents/Formation/Github/Data/Airbnb_Paris/reviews.csv')
Paris_listings = pd.read_csv('C:/Users/margo/Documents/Documents/Formation/Github/Data/Airbnb_Paris/listings.csv')
Paris_calendar = pd.read_csv('C:/Users/margo/Documents/Documents/Formation/Github/Data/Airbnb_Paris/calendar.csv')

# Singapore data
SG_reviews = pd.read_csv('C:/Users/margo/Documents/Documents/Formation/Github/Data/Airbnb_Singapore/reviews.csv')
SG_listings = pd.read_csv('C:/Users/margo/Documents/Documents/Formation/Github/Data/Airbnb_Singapore/listings.csv')
SG_calendar = pd.read_csv('C:/Users/margo/Documents/Documents/Formation/Github/Data/Airbnb_Singapore/calendar.csv')

In [6]:
# Connection MySQL
user_name = os.environ.get('DB_USER')
password = os.environ.get('DB_PASS')

## MASQUER MES INFOS !!!
connection = mysql.connector.connect(host = 'localhost',
                                    user = 'root',
                                    passwd = 'NuitNoire.12',
                                    db = 'margotdb')
connection

In [11]:
# Je fais des opérations sous Python et je vais essayer d'écrire sur MySQL workbench
Paris_reviews.head(10)
test = Paris_reviews[Paris_reviews["date"]>= '2022-09-01']

,listing_id,id,date,reviewer_id,reviewer_name,comments
130,52899231,709246316243666807,2022-09-05,461336328,Nicolas,"Nous y avons passé un excellent séjour, rien à..."
173,14810171,707812262510751526,2022-09-03,9842045,John,"If you want to experience real Paris, this is ..."
2472,3502208,709232527240328596,2022-09-05,82114257,Rem,Jolie maison bien située avec des propriétaire...
2572,14004980,708540949355281500,2022-09-04,201532227,MayreAnn,The apartment was clean and in a convenient lo...
2925,628286889673474568,712089903602967021,2022-09-09,406057849,Christopher,"Excellent location, great communication and ch..."
...,...,...,...,...,...,...
1466729,657727126745124850,710712376227054794,2022-09-07,470168055,Vincent,Excellent rapport de prix en comparaison des p...
1466730,657727126745124850,707809753526365081,2022-09-03,5774707,Alain,Léo vous accueillera avec beaucoup de sympathi...
1467043,22481703,706309674405836922,2022-09-01,190602727,Stanislav,It was a very nice apartment to stay a couple ...
1467174,683310015681698980,709194233063336379,2022-09-05,427384339,Alexandra,Really nice and cozy apartment with great loca...
1467242,1716410,712096523996644003,2022-09-09,226776340,Pina,"L'appartamento curato in ogni dettaglio, forni..."

In [13]:
mycursor = connection.cursor()
mycursor.execute("CREATE TABLE test (listing_id INT AUTO_INCREMENT PRIMARY KEY, id INT, date_review DATE, reviewer_id INT, reviewer_name VARCHAR(255), comments VARCHAR(355))")

InternalError: Unread result found